<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %msg%n"/>
    </Console>
    <UILogAppender name="jtextarea-log">
        <PatternLayout>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
        </PatternLayout>
    </UILogAppender>
</Appenders>
<Loggers>
    <Logger name="clientLogger" level="trace">
        <AppenderRef ref="Console"/>
        <appender-ref ref="jtextarea-log" level="debug"/>
    </Logger>
    <Logger name="serverLogger" level="trace">
        <AppenderRef ref="Console"/>
    </Logger>
    <Root level="debug">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>